.myColorRed_0 {
  color : #F0F0F0;
  background: #FF2A2C;
}
.myColorRed_1 {
  color : #F0F0F0;
  background: #B50100;
}
.myColorRed_2 {
  color : #0F0F0F;
  background: #EC9A98;
}
.myColorRed_3 {
  color : #0F0F0F;
  background: #F8EEF1;
}

.myColorBlue_0 {
  color : #F0F0F0;
  background: #003066;
}
.myColorBlue_1 {
  color : #F0F0F0;
  background: #024096;
}
.myColorBlue_2 {
  color : #0F0F0F;
  background: #06C2F4;
}
.myColorBlue_3 {
  color : #0F0F0F;
  background: #97EAF4;
}

.myColorGreen_0 {
  color : #F0F0F0;
  background: #404616;
}
.myColorGreen_1 {
  color : #F0F0F0;
  background: #668D3C;
}
.myColorGreen_2 {
  color : #0F0F0F;
  background: #B1DDA1;
}
.myColorGreen_3 {
  color : #0F0F0F;
  background: #E5F3CF;
}

.myColorYellow_0 {
  color : #F0F0F0;
  background: #FFAC00;
}
.myColorYellow_1 {
  color : #F0F0F0;
  background: #FFD319;
}
.myColorYellow_2 {
  color : #0F0F0F;
  background: #FFFF00;
}
.myColorYellow_3 {
  color : #0F0F0F;
  background: #FFFF49;
}


.horizonOne {
  color: #F0F0F0;
  background: #08708A;
}
.horizonTwo {
  color: #F0F0F0;
  background: #56B1BF
}
.horizonThree {
  color: #F0F0F0;
  background: #D0D3C5
}