
.gridItem {
  padding-top: 20px;
  box-shadow: 0 0 0 3px #FFFFFF inset;
  text-align: center;
}

.sampleImage {
  padding-top: 3px;
}

.defaultColor {
  color: #F0F0F0;
  background: #293874;
}

.colorPalette {
  text-align: center;
}

.paletteItem {
  padding-top: 35px;
  display: block;
}

.myColorRed_0 {
  color : #F0F0F0;
  background: #BB2F1E;
}
.myColorRed_1 {
  color : #F0F0F0;
  background: #E3CB5E;
}
.myColorRed_2 {
  color : #0F0F0F;
  background: #C8C781;
}
.myColorRed_3 {
  color : #0F0F0F;
  background: #562B15;
}

.myColorBlue_0 {
  color : #F0F0F0;
  background: #28437B;
}
.myColorBlue_1 {
  color : #F0F0F0;
  background: #4578D6;
}
.myColorBlue_2 {
  color : #0F0F0F;
  background: #6B8CCE;
}
.myColorBlue_3 {
  color : #0F0F0F;
  background: #92A8DB;
}

.myColorGreen_0 {
  color : #F0F0F0;
  background: #385918;
}
.myColorGreen_1 {
  color : #F0F0F0;
  background: #9DAD53;
}
.myColorGreen_2 {
  color : #0F0F0F;
  background: #A1B258;
}
.myColorGreen_3 {
  color : #0F0F0F;
  background: #E5F3CF;
}

.myColorYellow_0 {
  color : #F0F0F0;
  background: #AA6724;
}
.myColorYellow_1 {
  color : #F0F0F0;
  background: #F2C242;
}
.myColorYellow_2 {
  color : #0F0F0F;
  background: #F6F6F6;
}
.myColorYellow_3 {
  color : #0F0F0F;
  background: #8FA845;
}


.horizon_1 {
  color: #F0F0F0;
  background: #08708A;
}
.horizon_2 {
  color: #F0F0F0;
  background: #56B1BF
}
.horizon_3 {
  color: #F0F0F0;
  background: #D0D3C5
}