
.custom-restricted {
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 4px;
  height: 100px;
  width: 190px;
}

.mainContent{
  margin: 20px;
  color: gray;
}

.head {
  background-color: #C15FDC;
  height: 100px;
}

.logoImage {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  height: 80px;
  width: 80px;
}

.title {
  padding-top: 35px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px!important;
  position: relative;
  right: 80px;
}
