.inBoxText {
  color: #fff;
}

.inBoxContent {
  padding-top: 13%;
  text-align: center;
}

.box {
  width: 100%;
  height: 650px;
  background-color: #549589;
  position: relative;
  overflow: hidden;
  transform: rotate(0deg);
}

.box:before {
  content: '';
  position: absolute;
  width: 150%;
  height: 85%;
  margin: 0 -10% 0;
  background: #65A69A;
  transform-origin: left center;
  transform: rotate(6deg);
  z-index: -1;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}